body {
  margin: 0;
  font-family: Roboto, sans-serif;
  /* -apple-system */
   /* BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #33533475;   */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#logo {
  display: flex;
  justify-content: space-around;
  max-width: 150px;
  margin-left: 25px;
  margin-bottom: 8px;
  margin-top: 8px;
  
}

.header {
  display: flex;
  
  width: 100%;
  background-color: #a1b0a2;
  max-height: 100%;
}
/* 
.container {
  display: flex;
  padding: 2rem;
} */

.form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 60px;
  margin-left: 550px;
  margin-right: 550px;
  border-radius: 15px;
}

.landing-page {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.landing-page-welcome-message {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.landing-page-message {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.login-lable {
  margin-right: 5px;
}

.signup-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  background-color: rgb(34, 43, 35);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.navbar-link {
  display: flex;
  margin-left: .8rem;
  gap: .5rem;
  flex-direction: row;
}

#logout-button {
  margin-right: .8rem;
}

.add-button {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  color: black;
}

.client-name {
  display: flex;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}


.client-list-container {
  margin-right: 165px;
  margin-left: 165px;
}

.client-list-card {
  border: 5px solid #424B54;
  margin: 40px;
  padding: 25px;
  background-color: #DADDD8;
}

.client-list-property-card {
  border: 5px solid #1e5221aa;
  margin: 40px;
  padding: 25px;
  background-color: #DADDD8;
}


.client-info-card {
  /* border: 3px solid #424B54; */
  box-shadow: 5px 10px #335334f4;
  background-color: #DADDD8;
  margin: 40px;
  padding: 25px;
  border-radius: 35px;
}

.add-client-form{
  display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-content: flex-start;
    align-items: flex-end;
    max-width: 60%;
}
.add-invoice-form{
  display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-content: flex-start;
    align-items: flex-end;
    max-width: 82%;
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-input {
margin-right: 10px;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-name { 
  border-bottom: 2px solid black;
  margin-bottom: 5px;
  padding-bottom: 12px;
}

.info-name-invoice {
  border-bottom: 2px solid black;
  padding-top: 4px;
  margin-bottom: 5px;
  padding-bottom: 12px;
  padding-left: 75px;
}
.client-info-card-columns {
  /* border: 3px solid #424B54; */
  background-color: #DADDD8;
  padding-top: 18px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 2px solid black;
    margin-bottom: 5px;
    padding-bottom: 12px;
}
.main-name {
  background-color: #DADDD8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 2px solid black;
    margin-bottom: 3px;
}




.property {
  margin-bottom: 5px;
}


.new-invoice-form {
  display: flexbox;
}

.client-info-container {
  /* border: 3px solid #424B54; */
  background-color: #33533475;
  
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 55px;
  padding-top: 30px;
  /* margin-left: 80px; */
  /* margin-right: 80px; */
}



.invoices-container {
  border: 3px solid #424B54;
  display: flex;
  background-color: #33533475;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

.invoice-simple-card {
  border: 3px solid #424B54;
  background-color: #DADDD8;
  margin: 40px;
  padding: 25px;
}

.invoice-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-left: 39px;
}
.invoice-container {
  
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.invoice-span {
  padding-right: 20px;
  margin-right: 1px;
  width: 200px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

#not-paid {
  color: red;
}

/* .invoiceList{
  height: 50px;
  width: 50px;
} */